body {
    font-family: 'Philosopher', sans-serif;
    background-image: url(../img/photos/background2.jpg);
    background-repeat: repeat;
    color: #ebd9d6;
}

.name {
	font-family: 'Yeseva One', cursive;
	padding-top: 1px;
    font-size: 130%;
    text-align: center;
}

.col:first-child {
    margin-left: 0;
}

.menu{
	clear: both;
    padding: 0px;
    margin: 0px;
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.span_1_of_2 {
    width: 49.2%;
}

.container {
	width: 70%;
    background: #5c2f2d;
    margin: 0 auto;
}

.gallery{
  width: 100%;
  margin: 0 auto;
  
}
.photos{
	margin: 0;
	padding: 0;
	text-align: center;
}

.photos li {
	display: inline;
	list-style: none; 

}

.photos img {
  width: 20%;
  height: 20%;
  cursor: pointer;
}


.photos img:hover{
	border: 1px solid #ebd9d6;
}


a.button:link{
    background-color: #ebd9d6;
    color: #20030e;
    border: 1px solid #ebd9d6;
    margin: 1% 0;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
}

a.button:hover{
	border: 1px solid #643a33;
    background-color: #643a33;
    color: white;
}

.modal_div {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  padding: 25px 0;
	  display: none;
	  overflow-y: auto;}

.modal_div figure {
	  display: inline-block;
	  position: relative;
	  z-index: 1;
	  max-width: 50%;}
	  
.modal_div img{
	
	max-width: 90%;
}

.help{
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 60%;
	height: 60%;
	text-align: left;
	padding: 25px 0;
	display: none;
	overflow-y: auto;
	opacity: 0.8;
	color: white;
}

.help h1{
	text-align: center;
}

.newBack{
	background-color: black;
	color: white;
	position: relative;
	cursor: pointer;	
}

.loading {
	display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
}

.show{
	display:block;
}

.footer {
    background: #5c2f2d;
    text-align: left;
    padding: 1px 10px;
}

.footer li {
	list-style-type: none;
	display: inline-block;
}

.footer li img{
	width: 30px;
	height: 30px;
	
}


@media only screen and (max-width: 992px) { 
    .container { 
        width: 80%; 
    } 
} 

@media only screen and (max-width: 768px) { 
    .container { 
        width: 100%; 
    } 
	
	.span_1_of_2 {
		width: 100%;
	}
	
	.col {
		display: block;
		float: left;
		margin: 1% 0 1% 0%;
	}
	
	.photos img {
		width: 100%;
		height:100%;
		
		
}
}